<h1>New User Signed Up!</h1>

<button><a href="http://localhost:3000/users/<%= @id %>/edit">Add <%= @first_name %> <%= @last_name %> to a group? click here</a></button>
<h1><%= @email %></h1>
<h1><%= @phone %></h1>
<h3>Thanks you for signing up!</h3>

