<div class="container">
  <h1>Admin Page</h1>
  <table class="table table-striped table-bordered table-responsive">
    <thead>
      <tr>
        <th class="bg-primary">Boats </th>
        <th class="bg-primary">Service Notes</th>
        <th class="bg-primary">Current Status</th>
        <th class="bg-primary">One Day Out</th>
        <th class="bg-primary">Shares Available </th>
       
      </tr>
    </thead>
    <% @boats.each do |boat| %>
    <tr>  
      <td><a href="/boats/<%= boat.id %>/edit"><%= boat.name %></a></td>
      <td><%= boat.service_notes %></td>
      <td><%= boat.current_status %></td>
      <% if boat.one_day_out %>
      <td> Reserved </td>
      <% elsif boat.one_day_out == false %>
      <td> Available </td> 
      <% end %>
      
      <td><%= boat.shares_possible %></td>
    </tr>
    <% end %>
  </table>

<button><a href='/reservations' >Go To Reservations</a></button><br><br>
<button><a href='/users' >Go To Users</a></button>

</div>