<div class="container-fluid">
  <h1>Edit Group Information for <%= group.first_name %> <%= @user.last_name %></h1>
<!-- should this edit a join table w/ user info instead?!  -->

<%= form_tag("/groups/#{@group.id}", :method => :patch) do %>

  <div class="field">
    <%= label_tag :group_id %><br />
    <%= group_id_field_tag :user_id, @group.user_id, :required => true %>
  </div>

  <div class="field">
    <%= label_tag :group_id %><br />
    <%= group_id_field_tag :group_id, @group.group_id, :required => true %>
  </div>

  <div class="field">
    <%= label_tag :group_size %><br />
    <%= group_id_field_tag :group_size, @group.group_id, :required => true %>
  </div>
  <div class="actions">
    <%= submit_tag "Submit Changes", :class => "submit_group_changes" %>
  </div>
<% end %>



<%= link_to "Back", :back %>


</div>