<div class="container-fluid">
  <h1>Edit Group Information  </h1>

  <h3>Current Boat Assigned is <%= @group.boat.name %>.</h3>
  <p>Please be sure to check one boat even if one is assigned already.</p>
<!-- should this edit a join table w/ user info instead?!  -->

<%= form_tag("/groups/#{@group.id}", :method => :patch) do %>

  <div class="field">
    <%= label_tag :captain %><br />
    <%= text_field_tag :captain, @group.captain, :required => true %>
  </div>

  <div class="field">
    <%= label_tag :credits %><br />
    <%= text_field_tag :credits, @group.credits, :required => true %>
  </div>

   <% @boats.each do |boat| %>
   <div class="inner_div">
   <%= label_tag boat.name %><br />
   <%= check_box_tag :boat_id, boat.id  %>  
   </div>
   <p>Shares Available <%= boat.shares_possible%> </p><br>

   <% end %>

  
  <div class="actions">
    <%= submit_tag "Submit Changes", :class => "submit_group_changes" %>
  </div>
<% end %>



<%= link_to "Back", :back %>


</div>