<div class="container-fluid">
  <h1>Edit User Information for <%= @user.first_name %> <%= @user.last_name %></h1>


<%= form_tag("/users/#{@user.id}", :method => :patch) do %>

  <div class="field">
    <%= label_tag :email %><br />
    <%= email_field_tag :email, @user.email, :required => true %>
  </div>

    <div class="field">
    <%= label_tag :first_name %><br />
    <%= text_field_tag :first_name, @user.first_name, :required => true %>
  </div>

  <div class="field">
    <%= label_tag :last_name %><br />
    <%= text_field_tag :last_name, @user.last_name, :required => true %>
  </div>


  <div class="field">
    <%= label_tag :address %><br />
    <%= text_field_tag :address, @user.address, :required => true %>
  </div>

  <div class="field">
    <%= label_tag :city %><br />
    <%= text_field_tag :city, @user.city, :required => true %>
  </div>

  <div class="field">
    <%= label_tag :state %><br />
    <%= text_field_tag :state, @user.state, :required => true %>
  </div>

  <div class="field">
    <%= label_tag :zip_code %><br />
    <%= text_field_tag :zip_code, @user.zip_code, :required => true %>
  </div>

  <div class="field">
    <%= label_tag :phone %><br />
    <%= text_field_tag :phone, @user.phone, :required => true %>
  </div>

  <div class="field">
    <%= label_tag :group_id %><br />
    <%= text_field_tag :group_id, @user.group_id, :required => true %>
  </div>

  <div class="field">
    <%= label_tag '' %><br />
    <%= hidden_field_tag :allowed, @user.allowed = true %> 
  </div>

  <div class="field">
    <%= label_tag :notes %><br />
    <%= text_field_tag :notes, @user.notes %>
  </div>

  <div class="field">
    <%= label_tag "Others you want in your group" %><br />
    <%= text_field_tag :group_members %>
  </div>
  
  <div class="field">
    <%= label_tag :sailing_experience %><br />
    <%= text_area_tag(:sailing_experience, "Briefly describe your sailing experience:", size: "50x10", :required => true )%> 
  </div>


  <div class="actions">
    <%= submit_tag "Submit Changes", :class => "submit_user_changes" %>
  </div>
<% end %>


  <div class= "groupTable"><h1>Groups</h1><% @groups.each do |group| %>
    <table class="table table-striped table-bordered table-responsive">
      <thead>
        <tr>
        <th class="bg-primary">Boat ID:<%= group.id %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <td class="bg-primary">Captain: <%= group.captain %></td> 
        </tr>
      </tbody>
    </table>

  <% end %>
  </div>

<%= link_to "Back", :back %>


</div>
