<div class="container-fluid">
  <h1>Edit User Information for <%= @user.first_name %> <%= @user.last_name %></h1>


<%= form_tag("/users/#{@user.id}", :method => :patch) do %>

  <div class="field">
    <%= label_tag :email %><br />
    <%= email_field_tag :email, @user.email, :required => true %>
  </div>

    <div class="field">
    <%= label_tag :first_name %><br />
    <%= text_field_tag :first_name, @user.first_name, :required => true %>
  </div>

  <div class="field">
    <%= label_tag :last_name %><br />
    <%= text_field_tag :last_name, @user.last_name, :required => true %>
  </div>


  <div class="field">
    <%= label_tag :address %><br />
    <%= text_field_tag :address, @user.address, :required => true %>
  </div>

  <div class="field">
    <%= label_tag :city %><br />
    <%= text_field_tag :city, @user.city, :required => true %>
  </div>

  <div class="field">
    <%= label_tag :state %><br />
    <%= text_field_tag :state, @user.state, :required => true %>
  </div>

  <div class="field">
    <%= label_tag :zip_code %><br />
    <%= text_field_tag :zip_code, @user.zip_code, :required => true %>
  </div>

  <div class="field">
    <%= label_tag :phone %><br />
    <%= text_field_tag :phone, @user.phone, :required => true %>
  </div>

  <div class="field">
    <%= label_tag :group_id %><br />
    <%= text_field_tag :group_id, @user.group_id, :required => true %>
  </div>

  <div class="field">
    <%= label_tag :allowed %> true or false?<br />
    <%= text_field_tag :allowed, @user.allowed, :required => true %>
  </div>

  <div class="field">
    <%= label_tag :notes %><br />
    <%= text_field_tag :notes, @user.notes %>
  </div>

  <div class="actions">
    <%= submit_tag "Submit Changes", :class => "submit_user_changes" %>
  </div>
<% end %>



<%= link_to "Back", :back %>


</div>
