<div class="container-fluid">
<h1> ALL Users</h1>
<!--  -->
<%= form_tag '/search', class: "navbar-form navbar-right" do %>
    <div class="form-group">
      <%= text_field_tag :group_id, nil, class: "form-control", placeholder: "enter groups # here" %>
    </div>
    <%= submit_tag 'Search', class: "btn" %>
     
    <% end %>
    <!--  -->

  <table class="table table-striped table-bordered table-responsive">
    <thead>
      <tr>
        <th class="bg-primary">Name</th>
        <th class="bg-primary">Address</th>
        <th class="bg-primary">Phone</th>
        <th class="bg-primary">Boat Assigned</th>
        <th class="bg-primary">group_id</th>
      </tr>
    </thead>
    <% @users.each do |user| %>
    <tbody>
      <tr>
        <td><button><a href= "/users/<%= user.id %>/edit"> Edit </a></button>  <%= user.first_name %> <%= user.last_name %></td>
        <td><%= user.address %> <%= user.city %>, <%= user.state %> <%= user.zip_code %></td>
        <td><%= user.phone %></td>
        <td><%= user.group.boat_assigned %></td>
        <td><%= user.group_id %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>