<div class="container-fluid">


<h1 style='text-align: center'; >Reservations</h1>

<div class="container-fluid">

<u><h4>Today's Weather in Chicago</h4><u>
<table class="table table-striped table-bordered table-responsive">
  <thead>
    <tr>
      <th class="bg-primary"><img src="<%= @image %>"><br>Conditions: <%= @conditions %></th>
      <th class="bg-primary">Sunset is at<br> <%= @sunset %></th>
      <th class="bg-primary">Wind direction<br> <%= @wind.direction %> ˚</th>
      <th class="bg-primary"> Wind speed<br> <%= @wind.speed %> knots</th>
      <th class="bg-primary"> Temperature<br> <%= @temp %>˚ F</th>
      <th class="bg-primary"> Wind chill<br> <%= @wind.chill %>˚</th>
    </tr>
  </thead>

<table class="table table-striped table-bordered table-responsive">
<u><h4 style="text-align: center;">5 - Day Forecast</h4></u>
  <thead>
    <tr>
    <% @forecasts.each do |forecast| %>    
      <th class="bg-primary"><%= forecast.date.strftime('%A, %b %d') %></th>
    <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @forecasts.each do |forecast| %> 
      <td class="forecast">Conditions: <%= forecast.text %><br> High Temperature <%= forecast.high %>º<br>Low Temperature <%= forecast.low %>º<br></td>
      <% end %>
    </tr>
  </tbody>
</table>

</div>


<div id="reservations">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
    </h2>
  <%= calendar @date do |date| %>
  <% p "TEST" %>
  <% p date %>
    <%= date.day %>
<!-- erb block from video -->
    <% if @reservations_by_date[date] %>
      <ul>
        <% @reservations_by_date[date].each do |reservation| %>
          <% if reservation.am_block? %>
            <strong><li><a href='/reservations/<%=reservation.id %>'>AM Block Reserved</a></li></strong>
          <% elsif reservation.pm_block? %>
            <strong><li><a href='/reservations/<%=reservation.id %>'>PM Block Reserved</a></li></strong>
          <% elsif reservation.full_day_block? %>
            <strong><li><a href='/reservations/<%=reservation.id %>'>Full Block Reserved</a></li></strong>
          <% end %>
            <p>for <%= reservation.group.boat.name %><br>
            <% if user_signed_in? && current_user.admin? %>
               Reserved by: <a href="/users"><%= reservation.user.first_name %> <%= reservation.user.last_name %></a></p>
            <% end %>
        <% end %>
      </ul>
    <% end %>      
  <% end %>
</div>
  <table class="table table-striped table-bordered table-responsive">
      <% if user_signed_in? && current_user.admin? %>
  <thead>
    <tr>
      <th class="bg-primary">Reservation #</th>
      <th class="bg-primary">Group ID #</th>
      <th class="bg-primary">Registered User</th>
      <th class="bg-primary">Boat Reserved</th>
      <th class="bg-primary">Block Reserved</th>
      <th class="bg-primary">Date Reserved</th>
    </tr>
  </thead>
      <% end %>
      <% if user_signed_in? && current_user.admin? %>
        <% @reservations.each do |reservation| %>
          <tbody>
            <tr>
              <td><%= link_to reservation.id, reservation %></td>
              <td><%= reservation.group_id %></td>
              <td><%= reservation.user.first_name %> <%= reservation.user.last_name %></td>
              <td><%= reservation.group.boat.name %></td>
              <% if reservation.am_block %>
              <td>AM Reserved</td>
              <td><%= reservation.date_reserved.strftime("%A, %D") %></td>
              <% elsif reservation.pm_block %>
              <td>PM Reserved</td>
              <td><%= reservation.date_reserved.strftime("%A, %D") %></td>
              <% else reservation.full_day_block %>
              <td>Full Day Reserved</td>
              <td><%= reservation.date_reserved.strftime("%A, %D") %></td>
              <% end %>
        <% end %>
      <% end %>
            </tr>
          </tbody>
</table>
</div>
</div>

