<div class="container-fluid">

<h1>Reservations for <%=@reservation.user.first_name %> <%=@reservation.user.last_name %></h1>
<h2>Your Boat: <%= @reservation.group.boat.name %></h2>

<% if @reservation.full_day_block? %>
<h4>Full day reserved for <%= @reservation.date_reserved.strftime("%A, %D") %></h4>
<% elsif @reservation.am_block? %>
<h4>AM block reserved for <%= @reservation.date_reserved.strftime("%A, %D") %></h4>
<% elsif @reservation.pm_block? %>
<h4>PM block reserved for <%= @reservation.date_reserved.strftime("%A, %D") %></h4>
<% else %>
<% end %>
</div>