
<div class="container-fluid">

<table class="table table-striped table-bordered table-responsive">
  <center><h1>Reservations</h1></center>
  <thead>
    <tr>
      <th class="bg-primary">Reservation Date</th>    
      <th class="bg-primary">Boat Reserved</th>
      <th class="bg-primary">Reserved By</th>
      <th class="bg-primary">Group ID</th>
      <th class="bg-primary">Group Members</th>
      <th class="bg-primary">Reserved On</th>
      <th class="bg-primary">Credits Remaining</th>
      <th class="bg-primary">Credits Used</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% if @reservation.full_day_block? %>
      <td>Full day reserved for <%= @reservation.date_reserved.strftime("%A, %D") %></td>
      <% elsif @reservation.am_block? %>
      <td>AM block reserved for <%= @reservation.date_reserved.strftime("%A, %D") %></td>
      <% elsif @reservation.pm_block? %>
      <td>PM block reserved for <%= @reservation.date_reserved.strftime("%A, %D") %></td>
      <% else %>
      <% end %>
      
      <td><%= @reservation.group.boat.name %></td>
      <td><%= @reservation.user.first_name %> <%= @reservation.user.last_name %></td>
      <td><%= @reservation.group.id %></td>
      <td>
      <% @reservation.group.users.each do |user| %>
      <p><%= user.first_name %> <%= user.last_name %></p>
      <% end %>
      </td>
      <td><%= @reservation.created_at.strftime("%A, %D") %></td>
      <td><%= @reservation.group.credits %></td>
      <td>nothing</td>
    </tr>
  </tbody>
</table>


<table class="table table-striped table-bordered table-responsive">
<center><h1>Time Blocks</h1></center>
  <thead>
    <tr>
      <th class="bg-primary">AM Block = 9 AM - 3 PM</th><br>
      <th class="bg-primary">PM Block = 4 PM - 8 AM</th><br>
      <th class="bg-primary">Full Day Block = 9 AM - 8 AM</th>
    </tr>
  </thead>
</table>


