
<div class="container-fluid"> 
<h1>Edit this Boat</h1>

<%= form_tag("/boats/#{@boat.id}", :method => :patch) do %>
  <div id="form-div">
	 <div class="inner_div">
   <label>Image</label><br />
   <%= text_field_tag :image_url %>
   </div>
    
    <div class="inner_div">
    <%= label_tag "Boat Name" %><br />
      <%= text_field_tag :name %>
    </div>
    
    <div class="inner_div">
      <%= label_tag "Make" %><br />
      <%= text_field_tag :make %>
    </div>
    
    <div class="inner_div">
    <%= label_tag "Boat Size" %><br />
      <%= text_field_tag :size %>
    </div>
    
    <div class="inner_div">
      <%= label_tag "Harbor" %><br />
      <%= text_field_tag :harbor %>
    </div>

     <div class="inner_div">
      <%= label_tag "Possible Shares" %><br />
      <%= text_field_tag :shares_possible %>
    </div>

     <div class="inner_div">
      <%= label_tag "Full Price" %><br />
      <%= text_field_tag :full_share_price %>
    </div>

     <div class="inner_div">
      <%= label_tag "2/3rds Price" %><br />
      <%= text_field_tag :two_thirds_share_price %>
    </div>

    <div class="inner_div">
      <%= label_tag "1/2 Day Credit AM Mon-Thur" %><br />
      <%= text_field_tag :half_credit_AM_MTWTh %>
    </div>

    <div class="inner_div">
      <%= label_tag "1/2 Day Credit PM Mon-Thur" %><br />
      <%= text_field_tag :half_credit_PM_MTWTh %>
    </div>

    <div class="inner_div">
      <%= label_tag "1/2 Day Credit AM Friday" %><br />
      <%= text_field_tag :half_credit_AM_F %>
    </div>
    <div class="inner_div">
      <%= label_tag "1/2 Day Credit PM Friday" %><br />
      <%= text_field_tag :half_credit_PM_F %>
    </div>
    <div class="inner_div">
      <%= label_tag "1/2 Day Credit AM Saturday" %><br />
      <%= text_field_tag :half_credit_AM_SAT %>
    </div>
    <div class="inner_div">
      <%= label_tag "1/2 Day Credit PM Saturday" %><br />
      <%= text_field_tag :half_credit_PM_SAT %>
    </div>
    <div class="inner_div">
      <%= label_tag "1/2 Day Credit AM Sunday" %><br />
      <%= text_field_tag :half_credit_AM_SUN %>
    </div>
    <div class="inner_div">
      <%= label_tag "1/2 Day Credit PM Sunday" %><br />
      <%= text_field_tag :half_credit_PM_SUN %>
    </div>
    <div class="inner_div">
      <%= label_tag "Full Day Credit Mon-Thur" %><br />
      <%= text_field_tag :full_credit_MTWTh %>
    </div>
    <div class="inner_div">
      <%= label_tag "Full Day Credit Friday" %><br />
      <%= text_field_tag :full_credit_F %>
    </div>
    <div class="inner_div">
      <%= label_tag "Full Day Credit Saturday" %><br />
      <%= text_field_tag :full_credit_SAT %>
    </div>
    <div class="inner_div">
      <%= label_tag "Full Day Credit Sunday" %><br />
      <%= text_field_tag :full_credit_SUN %>
    </div>
  </div>
  </div>
    <%= submit_tag "Submit Changes", :class => "submit_boat_changes" %>
  </div>


<% end %>
</div>