<h1>Olson Classic Yacht Fleet</h1>
	<div class="container">
	<div class="row">

		<% @boats.each do |boat| %>

   		<div class="col-md-4 col-sm-6">
   		<a href="/boats/<%=boat.id%>">	
	   		<div>
				<h2><%=boat.name%></h2>
				<h4><%=boat.make%> '<%=boat.size%></h4>
				<img src="<%=boat.image_url%>" width="300" class: "img-responsive">
			</div>
		</a>
	</div>
  <% end %>
</div>
</div>
