<h1>Enter a New Boat</h1>

<%=form_tag '/boats' do %>
  <div id="form-div">
	 <div class="inner_div">
	 <%= label_tag :image_url %>
   <%= text_field_tag :image_url %>
   </div>
    
    <div class="inner_div">
    <%= label_tag :name %>
      <%= text_field_tag :name %>
    </div>
    
    <div class="inner_div">
      <%= label_tag :make %>
      <%= text_field_tag :make %>
    </div>
    
    <div class="inner_div">
    <%= label_tag :size %>
      <%= text_field_tag :size %>
    </div>
    
    <div class="inner_div">
      <%= label_tag :harbor %>
      <%= text_field_tag :harbor %>
    </div>

     <div class="inner_div">
      <%= label_tag :shares_possible %>
      <%= text_field_tag :shares_possible %>
    </div>

     <div class="inner_div">
      <%= label_tag :full_share_price %>
      <%= text_field_tag :full_share_price %>
    </div>

     <div class="inner_div">
      <%= label_tag :two_thirds_share_price %>
      <%= text_field_tag :two_thirds_share_price %>
    </div>

    <div class="inner_div">
      <%= label_tag :half_credit_AM_MTWTh %>
      <%= text_field_tag :half_credit_AM_MTWTh %>
    </div>

    <div class="inner_div">
      <%= label_tag :half_credit_PM_MTWTh %>
      <%= text_field_tag :half_credit_PM_MTWTh %>
    </div>

    <div class="inner_div">
      <%= label_tag :half_credit_AM_F %>
      <%= text_field_tag :half_credit_AM_F %>
    </div>
    <div class="inner_div">
      <%= label_tag :half_credit_PM_F %>
      <%= text_field_tag :half_credit_PM_F %>
    </div>
    <div class="inner_div">
      <%= label_tag :half_credit_AM_SAT %>
      <%= text_field_tag :half_credit_AM_SAT %>
    </div>
    <div class="inner_div">
      <%= label_tag :half_credit_PM_SAT %>
      <%= text_field_tag :half_credit_PM_SAT %>
    </div>
    <div class="inner_div">
      <%= label_tag :half_credit_AM_SUN %>
      <%= text_field_tag :half_credit_AM_SUN %>
    </div>
    <div class="inner_div">
      <%= label_tag :half_credit_PM_SUN %>
      <%= text_field_tag :half_credit_PM_SUN %>
    </div>
    <div class="inner_div">
      <%= label_tag :full_credit_MTWTh %>
      <%= text_field_tag :full_credit_MTWTh %>
    </div>
    <div class="inner_div">
      <%= label_tag :full_credit_F %>
      <%= text_field_tag :full_credit_F %>
    </div>
    <div class="inner_div">
      <%= label_tag :full_credit_SAT %>
      <%= text_field_tag :full_credit_SAT %>
    </div>
    <div class="inner_div">
      <%= label_tag :full_credit_SUN %>
      <%= text_field_tag :full_credit_SUN %>
    </div>
  </div>
  </div>
    <%= submit_tag "Add Boat", :class => "add_boat_button" %>
  </div>

<% end %>
